// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

.sidebar {
    .avatar {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 0.5em;
        height: auto;

        img {
            width: 100%;
            max-width: 200px;
            border-radius: 10px;
            max-height: 200px;

            @media (max-width: 767px) {
                border-radius: 50%;
            }
        }
    }

    .social-networks {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 2em;

        @media (min-width: 767px) {
            flex-direction: column;
        }

        a {
            display: flex;
            align-items: center;

            @media (max-width: 767px) {
                font-size: 2em;
            }

            &:hover {
                text-decoration: none;
            }

            label {
                display: none;
            }

            @media (min-width: 767px) {
                label {
                    flex: 1;
                    text-align: center;
                    margin-left: -15px;
                    margin-bottom: 0px;
                    display: block;
                }

                &:hover {
                    transform: translateX(15px);
                }

                & + a {
                    margin-top: 1em;
                }
            }
        }
    }
}

#bio {
    a {
        color: #c966ff;

        &:hover {
            color: #915de8;
        }
    }
}

h3.title {
    margin: 45px 0 22.5px 0;
}

h4.title {
    margin: 30px 0 15px 0;
}

.timeline-info {
    .timeline-time {
        display: flex;
        flex-direction: column;
        justify-content: center;

        border-right: 1px solid rgb(86, 85, 112, .5);
        border-bottom: 1px solid rgb(86, 85, 112, .5);
        small {
            color: #B6B6B6;
        }

        h4 {
            margin-bottom: 1em;
            color: #8C7AFB;

            @media (max-width: 767px) {
                margin-bottom: 0;
            }
        }
    }

    .timeline-description {

        padding: 10px;
        border-bottom: 1px solid rgb(86, 85, 112, .5);

    }
}
#articles {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    .article-list {
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        flex-wrap: wrap;
        .article {
            display: flex;
            flex-direction: row;
            width: 30%;
            margin-bottom: 10px;


            .article-body {
                display: flex;
                align-content: center;

                flex-direction: column;
                //border: 1px solid #9387ff;
                .article-image {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    width: 100%;
                }
                .article-title {
                    color: #9387ff !important;
                    min-height: 50px;
                }
                .article-info {
                    font-size: 12px;
                    color: #B6B6B6;
                    display: flex;
                    justify-content: space-evenly;
                }
            }
        }
    }

}

@media (max-width: 767px) {
    #articles {
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        .article-list {
            display: flex;
            flex-direction: column;
            .article {
                width: 100%;
                margin-bottom: 16px;
                padding: 12px;
                border: 1px solid rgba(86, 85, 112, 0.5);
                .article-image {
                    //display: none;
                }

                .article-title {
                    padding-top: 5px;
                    color: #9387ff !important;
                }

                .article-info {
                    color: #B6B6B6;
                    display: flex;
                    justify-content: space-evenly;
                }
            }
        }

    }

    .timeline-info {
        margin-bottom: 1rem;



        .timeline-time {
            padding: 10px;
            border-left: 1px solid rgb(86, 85, 112, .5);
            border-top: 1px solid rgb(86, 85, 112, .5);
            border-bottom: 0;
            small {
                color: #B6B6B6;
                margin-bottom: .5rem;
                margin-top: .5rem;
            }

            h4 {

                color: #8C7AFB;
                margin-bottom: .5rem;

            }
        }

        .timeline-description {
            border-left: 1px solid rgb(86, 85, 112, .5);
            border-right: 1px solid rgb(86, 85, 112, .5);
        }


    }
}


// =====================================================
// Pagina de Suporte
// =====================================================

.why-support {
    text-align: center;

    p {
        padding-top: 30px;
    }
}

.my-projects {
    text-align: center;

    .projects {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; // X
        align-content: space-around; // Y

        .project {
            text-decoration: none;
            margin: 20px 0 10px 0;

            img {
                border-bottom: 1px solid #915de8;
                max-width: 295px;
            }

            .project-title {
                color: #915de8;
                font-size: 23px;
            }

            p {
                padding: .6rem;
                text-align: justify;
            }

            //color: #915de8;
            width: 300px;
            border: 3px solid #915de8;

            flex-direction: row;
        }
    }
}


.how-support {
    text-align: center;

    .method {
        border: 3px solid #915de8;
        h2 {
            border: 1px solid #915de8;
        }
        .method-body {
            background-color: #131229;
        }
    }
}

.block {
    height: 1px;
    border: 1px solid #915de8;
}

.btn {
    border-radius: 0;
}

.links {
    display: flex;
    justify-content: center;
    margin: 40px 0 20px 0;

    a {
        border: 3px solid #915de8;
        border-radius: .25rem;
        margin: 5px;
        padding: 5px;
        color: #c2c2c2;

        &:hover {
            background-color: #32304e;
            color: #c2c2c2;
            text-decoration: none;
        }
    }

}

